<div class="container-fluid main-container">
    <div class="container-fluid valid">
        <h2 class="title">BARCODES</h2>
    </div>
    <form [formGroup]="barCodes">
        <div class="row">
            <div class="col-12">
                <label for="country" class="form-label text-nowrap">Product</label>
                <select class="form-select" id="country" required="" formControlName="product">
                    <option *ngFor="let value of parkingOptions" [value]="value">{{value}}</option>
                </select>
                <div class="form-text">optional, applies to all products if not selected
                </div>
            </div>
            <div class="col-12 mt-3">
                <label for="country" class="form-label text-nowrap">Barcode Version</label>
                <select class="form-select" id="country" required="" formControlName="barcodeVersion">
                    <option value="code39_default">Code 39 (default)</option>
                    <option value="qr_code">QR Code</option>
                    <option value="code39">Code 39</option>
                    <option value="code128">Code 128</option>
                    <option value="codebar">Codebar</option>
                    <option value="ltf14">Itf14 </option>
                    <option value="leitcode">Leitcode</option>
                </select>
            </div>
            <div class="col-12 mt-3">
                <label for="country" class="form-label text-nowrap">Barcode Text</label>
                <select class="form-select" id="country" required="" formControlName="barcodeText">
                    <option value="Customer Reservation ID">Customer Reservation ID</option>
                    <option value="Custom Text">Custom Text</option>
                    <option value="Regular express">Regular express</option>
                </select>
            </div>
            <div class="col-12 mt-3 overflow-auto" >
                <label for="code" class="form-label text-nowrap">Date</label>
                <input type="text" class="form-control z-3" bsDatepicker [bsConfig]="{ adaptivePosition: true }" formControlName="date">
                <div class="form-text">optional, applies to all date if not selected</div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="updateBarCode()">Create Barcode</button>
    </form>
</div>