<div class="container ">
    <form [formGroup]='generalForm' class="form g-3 needs-validation" novalidate (ngSubmit)="saveForm($event)">
        <div class="row">
            <div class="col-md-4">
                <label for="country" class="form-label">Country *</label>
                <select class="form-select" id="country" formControlName="country" required=""
                    (change)="onCountryChange($event)">
                    <option *ngFor="let country of countries | keyvalue" [value]="country.key">
                        {{ country.value }}
                    </option>
                </select>
                <div class="invalid-feedback">
                    Please select Country
                </div>
            </div>

            <div class="col-md-4">
                <label for="state" class="form-label">State *</label>
                <select class="form-select" id="state" formControlName="state" required="">
                    <option *ngFor="let st of state" [value]="st.name">{{st.name}}</option>
                </select>
                <div class="invalid-feedback">
                    Please select State
                </div>
            </div>

            <div class="col-md-4">
                <label for="city" class="form-label">City *</label>
                <input type="text" class="form-control" id="city" placeholder="Enter city" formControlName="city"
                    required="">
                <div class="invalid-feedback">
                    Please Enter City
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="street" class="form-label"> Street *</label>
                <input type="text" class="form-control" id="street" placeholder="Enter Street" formControlName="street"
                    required="">
                <div class="invalid-feedback">
                    Please Enter Street
                </div>
            </div>
            <div class="col-md-4">
                <label for="Zipcode" class="form-label">Zip code *</label>
                <input type="text" class="form-control" id="Zipcode" placeholder="Enter Zip code"
                    formControlName="zipCode" required="">
                <div class="invalid-feedback">
                    Please Enter Zipcode
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-md-4">
                <label for="phoneNumber" class="form-label"> Phone Number *</label>
                <input type="number" class="form-control no-spinner" id="phoneNumber" min="1000000000" max="9999999999" placeholder="Enter phone number"
                    formControlName="phoneNumber" required="">
                <div class="invalid-feedback">
                    Please Enter Valid Phone Number
                </div>
            </div>
            <div class="col-md-4">
                <label for="shuttleNumber" class="form-label">Shuttle Phone Number *</label>
                <input type="number" class="form-control no-spinner" id="shuttleNumber"
                    placeholder="Enter shuttle phone number" formControlName="shuttleNumber" required="">
                <div class="invalid-feedback">
                    Please Enter Shuttle Phone Number
                </div>
            </div>
            <div class="col-md-4">
                <label for="flexNumber" class="form-label">Fax Number *</label>
                <input type="text" class="form-control no-spinner" id="flexNumber" placeholder="Enter Fax Number"
                    formControlName="flexNumber">
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-md-4">
                <label for="latitude" class="form-label">Latitude *</label>
                <input type="text" class="form-control no-spinner" id="latitude"
                    placeholder="Enter Your Parking Latitude" formControlName="latitude" required="">
                <div class="invalid-feedback">
                    Please Enter Parking latitude 
                </div>
            </div>

            <div class="col-md-4">
                <label for="longitude" class="form-label">Longitude *</label>
                <input type="text" class="form-control no-spinner" id="longitude"
                    placeholder="Enter Your Parking Longitude" formControlName="longitude" required="">
                <div class="invalid-feedback">
                    Please Enter Parking longitude
                </div>
            </div>
           
            <div class="col-md-4">
                <label for="bu" class="form-label">people Allowed on Shuttle Bus</label>
                <input type="text" class="form-control" id="bus" placeholder="people Allowed on Shuttle Bus"
                    formControlName="shuttleBus">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="spinner-border text-success" role="status" *ngIf="spinner==true">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <button *ngIf="spinner==false" type="submit" class="btn btn-success" #saveButton>Save</button>
            </div>
        </div>
    </form>
</div>