/* Default styles for larger screens */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-top: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

// input[type="text"],
// input[type="email"],
// input[type="password"] {
//     width: 100%;
//     padding: 10px;
//     margin-bottom: 10px;
// }

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.step {
    width: 30vw;
    background-color: rgb(243, 161, 8);
    padding: 20px;
    border-radius: 10px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .step {
        width: 100vw;
    }
}

/* Add these styles for password input fields */
.input-field {
    position: relative;
}

// .input-field input[type="password"] {
//     width: 100%;
//     padding: 10px;
//     margin-bottom: 10px;
//     padding-right: 40px;
//     /* To accommodate the show/hide icon */
// }

.input-div {
    width: 100%;
    display: flex;
    gap: 0;
}

.input-div input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.icons {
    width: 30px;
    color: #333;
    background: #f8f8f8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    place-items: center;
}

.invalid-pass {
    color: #DC3544;
    font-size: smaller;
}