.main {
    width: 100vw;
    height: 100vh;
    background: #FF8C00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}



.user-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: blue;
    color: white;
}

.close-icon-div {
    display: flex;
    justify-content: flex-end;
}

h1 {
    margin: 0;
}

.input-label {
    width: 30%;
    text-align: left;
}

.input-filed {
    width: 70%;

}

.form-label {
    color: white;
}

.form-control {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invalid-feedback {
    color: red;
}


@media screen and (min-width:768px) and (max-width:1200px) {
    .main {
        width: 70lvw;
    }
}

@media screen and (max-width:768px) {
    .main {
        width: 100%;
    }

    h1 {
        font-size: 1.2rem;
    }
}