<div class="fluid-container d-flex justify-content-center align-items-center"
    style="max-height: 100vh;min-height: 100vh;">
    <div class="step">
        <h1>Reset Your Password</h1>
        <div class="step-1">
            <form [formGroup]="emailForm" (ngSubmit)="sendOtp()">
                <div class="row d-flex flex-column gap-2">
                    <div class="col-md-12 form-group">
                        <label for="email" class="form-label" style="color: white;">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email" [ngClass]="{
                'is-invalid': emailForm.get('email')!.invalid && emailForm.get('email')!.touched
              }" [readOnly]="otpSent" />
                        <div *ngIf="emailForm.get('email')!.invalid && emailForm.get('email')!.touched"
                            class="invalid-feedback">
                            Please enter a valid email address.
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="!otpSent">
                        <button type="submit" class="btn btn-secondary"
                            [disabled]="emailForm.get('email')!.invalid">Send Otp</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="step-2" *ngIf="otpSent && !verifyOtp">
            <form [formGroup]="passwordForm">
                <div class="row">
                    <div class="col-md-12">
                        <label for="email" class="form-label" style="color: white;">Enter Otp</label>
                        <ng-otp-input [formCtrl]="otp" [config]="{length:6}"></ng-otp-input>
                    </div>
                    <div class="row d-flex gap-3 mt-3">
                        <div class="col-md-12 form-group">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-div">
                                <input [type]="passwordVisible ? 'password' : 'text'" id="password" class="form-control"
                                    formControlName="password" [ngClass]="{
                                'is-invalid': passwordForm.get('password')!.invalid && passwordForm.get('password')!.touched
                              }" />
                                <div class="icons" (click)="passwordVisible = !passwordVisible">
                                    <i class="fa fa-eye-slash icon password-icon" [hidden]="!passwordVisible"></i>
                                    <i class="fa fa fa-eye icon password-icon" [hidden]="passwordVisible"></i>
                                </div>
                            </div>

                            <div *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.get('password')!.touched"
                                class="invalid-pass">
                                Please enter a valid password.
                            </div>
                            <div *ngIf="passwordForm.controls['password'].hasError('pattern') && passwordForm.get('password')!.touched"
                                class="invalid-pass">
                                Please enter a password Include 1 Uppercase, 1 Lowercase, 1 Number & 1 Special
                                character.
                            </div>
                            <div *ngIf="passwordForm.controls['password'].hasError('minlength') && passwordForm.get('password')!.touched"
                                class="invalid-pass">
                                Minimum Password Length Should be 8.
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="password" class="form-label">Confirm Password</label>
                            <div class="input-div">
                                <input [type]="confirmPasswordVisible ? 'password' : 'text'" id="password"
                                    class="form-control" formControlName="confirmPassword" [ngClass]="{
                                'is-invalid': passwordForm.get('confirmPassword')!.invalid && passwordForm.get('confirmPassword')!.touched
                              }" />
                                <div class="icons" (click)="confirmPasswordVisible = !confirmPasswordVisible">
                                    <i class="fa fa-eye-slash icon password-icon"
                                        [hidden]="!confirmPasswordVisible"></i>
                                    <i class="fa fa fa-eye icon password-icon" [hidden]="confirmPasswordVisible"></i>
                                </div>
                            </div>

                            <div *ngIf="passwordForm.get('confirmPassword')!.invalid && passwordForm.get('confirmPassword')!.touched"
                                class="invalid-pass">
                                Please enter Confirm password.
                            </div>
                            <div *ngIf="passwordForm.controls['confirmPassword'].value != passwordForm.controls['password'].value && passwordForm.controls['confirmPassword'].value != '' && passwordForm.get('confirmPassword')!.touched"
                                class="invalid-pass">
                                Please enter Same Password.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex gap-3 mt-3">
                        <button type="button" class="btn btn-secondary" (click)="verifyEmail()"
                            [disabled]="passwordForm.invalid">Submit</button>
                        <button type="button" class="btn btn-danger" (click)="wrongEmail()">Wrong Email Address</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="step-3" *ngIf="verifyOtp && otpSent">
            <form [formGroup]="passwordForm" (ngSubmit)="forgotPassword()">
                <div class="row d-flex gap-3">
                    <div class="col-md-12 form-group">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-div">
                            <input [type]="passwordVisible ? 'password' : 'text'" id="password" class="form-control"
                                formControlName="password" [ngClass]="{
                            'is-invalid': passwordForm.get('password')!.invalid && passwordForm.get('password')!.touched
                          }" />
                            <div class="icons" (click)="passwordVisible = !passwordVisible">
                                <i class="fa fa-eye-slash icon password-icon" [hidden]="!passwordVisible"></i>
                                <i class="fa fa fa-eye icon password-icon" [hidden]="passwordVisible"></i>
                            </div>
                        </div>

                        <div *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.get('password')!.touched"
                            class="invalid-pass">
                            Please enter a valid password.
                        </div>
                        <div *ngIf="passwordForm.controls['password'].hasError('pattern') && passwordForm.get('password')!.touched"
                            class="invalid-pass">
                            Please enter a password Include 1 Uppercase, 1 Lowercase, 1 Number & 1 Special character.
                        </div>
                        <div *ngIf="passwordForm.controls['password'].hasError('minlength') && passwordForm.get('password')!.touched"
                            class="invalid-pass">
                            Minimum Password Length Should be 8.
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="password" class="form-label">Confirm Password</label>
                        <div class="input-div">
                            <input [type]="confirmPasswordVisible ? 'password' : 'text'" id="password"
                                class="form-control" formControlName="confirmPassword" [ngClass]="{
                            'is-invalid': passwordForm.get('confirmPassword')!.invalid && passwordForm.get('confirmPassword')!.touched
                          }" />
                            <div class="icons" (click)="confirmPasswordVisible = !confirmPasswordVisible">
                                <i class="fa fa-eye-slash icon password-icon" [hidden]="!confirmPasswordVisible"></i>
                                <i class="fa fa fa-eye icon password-icon" [hidden]="confirmPasswordVisible"></i>
                            </div>
                        </div>

                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid && passwordForm.get('confirmPassword')!.touched"
                            class="invalid-pass">
                            Please enter Confirm password.
                        </div>
                        <div *ngIf="passwordForm.controls['confirmPassword'].value != passwordForm.controls['password'].value && passwordForm.controls['confirmPassword'].value != '' && passwordForm.get('confirmPassword')!.touched"
                            class="invalid-pass">
                            Please enter Same Password.
                        </div>
                    </div>
                </div>
                <div class="row  mt-3">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </form>
        </div> -->
    </div>
</div>