<div class="main">
    <div class="user-header px-2">
        <span>&nbsp;</span>
        <h1>Change Password</h1>
        <mat-icon aria-hidden="false" aria-label="close icon" class="close-icon" (click)="close()">close</mat-icon>
    </div>
    <mat-dialog-content>
        <form [formGroup]="profileForm" class="profile-form mt-3">
            <div class="row d-flex flex-column gap-3">
                <div class="col-md-12 d-flex flex-row align-items-center gap-3">
                    <label for="currentPassword" class="form-label input-label text-nowrap">Old
                        Password *</label>
                    <div>
                        <div class="input-div">
                            <input [type]="opasswordHide ? 'password' : 'text'" class="form-control input-filed"
                                formControlName="currentPassword" placeholder="Old Password"
                                [ngClass]="{'is-invalid':profileForm.get('currentPassword')!.invalid && profileForm.get('currentPassword')!.touched}"  style="width: 100%;">
                            <div class="icons" (click)="opasswordHide = !opasswordHide">
                                <i class="fa fa-eye-slash icon password-icon" [hidden]="!passwordHide"></i>
                                <i class="fa fa fa-eye icon password-icon" [hidden]="passwordHide"></i>
                            </div>
                            <div *ngIf="profileForm.get('currentPassword')!.invalid && profileForm.get('currentPassword')!.touched"
                                class="invalid-feedback">
                                Please enter a current Password.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 d-flex flex-row align-items-center gap-3">
                    <label for="nPassword" class="form-label input-label text-nowrap">New Password *
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <div>
                        <div class="input-div">
                            <input [type]="passwordHide ? 'password' : 'text'" class="form-control input-filed"
                                formControlName="nPassword" placeholder="New Password"
                                [ngClass]="{'is-invalid':profileForm.get('nPassword')!.invalid && profileForm.get('nPassword')!.touched}"
                                style="width:100%;">
                            <div class="icons" (click)="passwordHide = !passwordHide">
                                <i class="fa fa-eye-slash icon password-icon" [hidden]="!passwordHide"></i>
                                <i class="fa fa fa-eye icon password-icon" [hidden]="passwordHide"></i>
                            </div>
                        </div>
                        <div *ngIf="profileForm.get('nPassword')!.invalid && profileForm.get('nPassword')!.touched"
                            class="invalid-feedback">
                            Please enter a New &nbsp;&nbsp; &nbsp;&nbsp; Password.
                        </div>
                        <div *ngIf="profileForm.controls['nPassword'].hasError('pattern') && profileForm.get('nPassword')!.touched"
                            class="invalid-pass">
                            Please enter a password Include 1 Uppercase, 1 Lowercase, 1 Number & 1 Special character.
                        </div>
                        <div *ngIf="profileForm.controls['nPassword'].hasError('minlength') && profileForm.get('nPassword')!.touched"
                            class="invalid-pass">
                            Minimum Password Length Should be 8.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-row align-items-center gap-3">
                    <label for="confirmPassword" class="form-label input-label text-nowrap">confirm password *</label>
                    <div>
                        <div class="input-div">
                            <input [type]="passwordHide ? 'password' : 'text'" class="form-control input-filed"
                                formControlName="confirmPassword" placeholder="Conform Password"
                                [ngClass]="{'is-invalid':profileForm.get('confirmPassword')!.invalid && profileForm.get('confirmPassword')!.touched}" style="width: 100%;">
                            <div class="icons" (click)="cpasswordHide = !cpasswordHide" >
                                <i class="fa fa-eye-slash icon password-icon" [hidden]="!passwordHide"></i>
                                <i class="fa fa fa-eye icon password-icon" [hidden]="passwordHide"></i>
                            </div>

                        </div>
                        <div *ngIf="profileForm.get('confirmPassword')!.invalid && profileForm.get('confirmPassword')!.touched"
                            class="invalid-feedback">
                            Please enter a Confirm Password.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="row">
            <div class="col-1">
                <button class="mt-4 btn btn-danger" type="submit" [disabled]="profileForm.invalid"
                    (click)="changePassword()">Save</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>