<div class="main">
    <div class="user-header px-2">
        <span>&nbsp;</span>
        <h1>Verify OTP</h1>
        <mat-icon aria-hidden="false" aria-label="close icon" class="close-icon" (click)="close(false)">close</mat-icon>
    </div>
    <mat-dialog-content>
        <form>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="EmailID" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="EmailID" placeholder="Enter Email"
                        [(ngModel)]="emailAddress" [ngModelOptions]="{standalone: true}" readonly>
                </div>
                <div class="col-md-12 mt-2">
                    <label for="email" class="form-label" style="color: white;">Enter Otp</label>
                    <ng-otp-input allowNumbersOnly="true" [formCtrl]="emailotp" [config]="{length:6}"></ng-otp-input>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="row">
            <div class="col-1">
                <div class="spinner-border text-success" role="status" *ngIf="spinner==true">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <button *ngIf="spinner==false" [disabled]="emailotp.value.length < 6" class="mt-4 btn btn-danger"
                    type="button" (click)="verifyEmailOtp()">Verify</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>