<mat-drawer-container class="example-container" autosize="">
    <mat-drawer #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? true :true"
        class="mat-drawer-side-">

        <mat-nav-list class="nav-list">

            <div class="profile-section">
                <div class="profile-avatar">
                    <img src="https://cdn-icons-png.flaticon.com/512/21/21104.png" alt="User Icon">
                </div>
                <div class="profile-info">
                    <h4 class="profile-name">{{fullName}}</h4>
                    <button class="btn btn-link" (click)='openProfileDialog()'>Edit</button>
                </div>
            </div>
            <a mat-list-item [routerLink]="['/parking']">
                <span>Dashboard</span>
            </a>
            <a mat-list-item *ngFor="let link of myActiveRoute" [ngClass]="link.active?'active':'unActive'"
                [routerLink]="[link.name]" (click)="findActiveTab(link.name)">{{link.name}}</a>

            <a mat-list-item [routerLink]="['/']">
                <span class="d-flex flex-row align-items-center gap-2">
                    <span style="color:'blue'">Logout</span><mat-icon>exit_to_app</mat-icon>
                </span>
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="mat-drawer-content">
        <div [ngStyle]="{ display: mobileQuery.matches ? 'flex' : 'none',width:'100%',justifyContent: 'end'}">
            <button type="button" mat-button (click)="drawer.toggle()" color="primary">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>