
.input- {   
    border-color: rgb(0, 119, 255);
    background-color: #f8f8f8;
    color: #333;
    font-size: 14px;
    padding: 10px;
    padding-left: 30%;
    border-radius: 8px;
    border: 1px solid rgb(0, 119, 255);
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}
.form-label{
    width:150px
}
.input-div{
    width:  calc(100% - 30px);
    display: flex;
    gap: 0;
}
.input-div input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.icons{
    width: 30px;
    color: #333;
    background: #f8f8f8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    place-items: center;
}
.invalid-pass{
    color: #DC3544;
    font-size: smaller;
}