/* Hero Section */
.example-spacer {
    flex: 1 1 auto;
}

.hero {
    background-color: inherit;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-form button {
    background-color: #f36f6f;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

/* Features Section */
.features {
    background-color: #f8f8f8;
    padding: 60px 0;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Contact Section */
.contact {
    padding: 60px 0;
}

.contact h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact a {
    color: #f36f6f;
}

/* Footer */
footer {
    background-color: inherit;
    color: white;
    text-align: center;
    padding: 20px 0;
}



/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

}

.ancherTag a {
    cursor: pointer;
}