<div class="main">
    <div class="user-header px-2">
        <span>&nbsp;</span>
        <h1>View Reservation</h1>
        <mat-icon aria-hidden="false" aria-label="close icon" class="close-icon" (click)="close()">close</mat-icon>
    </div>
        <div class="table-responsive horizontal-scroll mt-4" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Reservation Id</th>
                        <th>Email ID</th>
                        <th>Parking Type</th>
                        <th>Property Name</th>
                        <th>Base Price</th>
                        <th>Taxes & Fees</th>
                        <th>Service Charge</th>
                        <th>Total Days</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservationData of openReservationData; let i = index;">
                        <!-- <td>{{reservationData.check_in_date == null?'-':reservationData.check_in_date |
                            date }}</td>
                        <td>{{reservationData.check_in_time == null?'-':reservationData.check_in_time}}
                        </td>
                        <td>{{reservationData.check_out_date == null?'-':reservationData.check_out_date
                            | date }}</td>
                        <td>{{reservationData.check_out_time ==
                            null?'-':reservationData.check_out_time}}</td> -->
                        <td>{{reservationData.reservation_id}}</td>
                        <td>{{reservationData.guest_email}}</td>
                        <td>{{reservationData.property.tittle}}</td>
                        <td>{{reservationData.parking_type?.type}}</td>
                        <td>{{reservationData.base_price}}</td>
                        <td>{{reservationData.taxesandfees}}</td>
                        <td>{{reservationData.service_charge}}</td>
                        <td>{{reservationData.no_of_days}}</td>
                        <td>{{reservationData.amount}}</td>
                    </tr>
                    <tr *ngIf="openReservationData.length == 0">
                        <td colspan="9"> NO Data To Display</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>