@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 97vh;
    max-width: 99vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #1e3441;
    font-family: 'Poppins', sans-serif;
    // margin: auto
}


/* Remove number input spinner */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control:focus {
    box-shadow: none;
}

.modal-backdrop {
    --bs-backdrop-zindex: -1 !important;
}

.success {
    background-color: green;
    background: green;
    color: white;
}


.timepicker-overlay {
    z-index: 99999 !important;
}
.gm-ui-hover-effect{
    outline: none;
}