<div style="min-height: 100vh; max-height:100vh; overflow-y: auto;">
    <div class="container-fluid" style="background-color: lightgrey;height: 100vh;">
        <div class="row navbar">
            <div class="col-md-2 d-flex align-items-center text-align-center">
                <h1 class="h1" style="text-align: center;" [routerLink]="['/']">Parking Spotters</h1>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-5 col-md-3">
                        <p>Parking Check-In</p>

                        <p class="fs-5">{{date.checkIn| date:'EEE, MMM d'}}</p>
                    </div>
                    <div class="col-1 col-md-1">

                        <p><mat-icon class="fs-3">arrow_right_alt</mat-icon></p>
                    </div>
                    <div class="col-5 col-md-3">
                        <p>Parking Check-Out</p>
                        <p class="fs-5">{{date.checkOut | date:'EEE, MMM d'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="position row d-flex flex-row justify-content-around mt-3">
            <div class="col-md-7" style="background-color: white;">
                <mat-stepper orientation="vertical">
                    <mat-step>
                        <ng-template matStepLabel>Guest Details<span style="font-size:small">Emails</span></ng-template>
                        <ng-template matStepContent>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="emailId" placeholder="Enter email"
                                        [(ngModel)]="Email"  #emailInput="ngModel" required email>
                                </div>
                                <mat-checkbox class="example-margin" [labelPosition]="'after'">
                                    Get discounts and the latest update via email
                                </mat-checkbox>
                                <div class="col-12" [hidden]="userLogin == true">
                                    <button class="btn btn-link" style="outline: none; text-decoration: none;"
                                        (click)="quickSignInDialog()">Sign in for
                                        Faster Checkout</button>
                                </div>
                            </div>
                            <button class="btn btn-danger mt-3" matStepperNext>Continue</button>
                            <!-- <button class="btn btn-danger mt-3" matStepperNext
                                *ngIf="userLogin==true || verifyUser==true">Continue</button>
                            <button *ngIf="userLogin==false && verifyUser==false"  [disabled]="!emailInput.valid" class="btn btn-danger mt-3"
                                (click)="verifyEmail()">Verify Email</button> -->
                        </ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Payment Method</ng-template>
                        <ng-template matStepContent>
                            <div class="container-fluid" style="min-height: 20vh;max-height: 50vh; overflow-y: scroll;">
                                <section class="mt-4">
                                    <form class="d-flex flex-column gap-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="fname" class="form-label">First Name On Card</label>
                                                <input type="text" class="form-control" id="fname"
                                                    placeholder="Enter First Name">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="lname" class="form-label">Last Name On Card</label>
                                                <input type="text" class="form-control" id="lname"
                                                    placeholder="Enter Last Name">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="zipcode" class="form-label">Zipcode</label>
                                                <input type="Number" class="form-control" id="zipcode"
                                                    placeholder="Enter Zip Code">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                                <input type="text" class="form-control" id="phoneNumber"
                                                    placeholder="Enter Phone Number">
                                            </div>
                                        </div>

                                        <mat-checkbox class="example-margin" [labelPosition]="'after'">
                                            Get discounts and update via SMS
                                        </mat-checkbox>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="driver" class="form-label">Add driver's Name
                                                    (optional)</label>
                                                <input type="text" class="form-control" id="driver"
                                                    placeholder="Enter email">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="driver" class="form-label">Car Plat Number </label>
                                                <input type="text" class="form-control" id="driver"
                                                    placeholder="Car Plat Number ">
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <section class="mt-4">
                                    <mat-accordion class="example-headers-align">
                                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Card
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    &nbsp;
                                                    <mat-icon>payment</mat-icon>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <form class="d-flex flex-column gap-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="cardNumber" class="form-label">Card Number</label>
                                                        <input type="Number" class="form-control" id="cardNumber"
                                                            placeholder="Enter Card Number">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="date" class="form-label">Expiry Date</label>
                                                        <!-- <input type="date" class="form-control" id="date"
                                                            placeholder="Select Expiration Date"> -->
                                                        <input autocomplete="off" class="form-control" name="date"
                                                            bsDatepicker
                                                            [bsConfig]="{dateInputFormat: 'MM/YYYY',adaptivePosition: true}"
                                                            (onShown)="onOpenCalendar($event)" [minDate]="minDate">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="cvv" class="form-label">cvv</label>
                                                        <input type="text" class="form-control" id="cvv"
                                                            placeholder="Enter CVV">
                                                    </div>
                                                </div>
                                            </form>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    PayPal
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    &nbsp;
                                                    <mat-icon>payment</mat-icon>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </section>
                                <section class="mt-4" style="text-align: right;">
                                    <p>Pay <b>{{icon}}{{(day*type[0].dail_rate)+6.49+finaleTaxes | number:'1.2-2'}}</b>
                                        today</p>
                                    <p style="text-align: left;">By selection Complete Reservation you agree to out
                                        <span>Terms of Use </span> and
                                        <span>Privacy Policy</span>
                                    </p>
                                </section>
                                <button class="btn btn-danger mt-4 align-self-center" (click)="submitForm()">Complete
                                    Reservation</button>
                            </div>
                        </ng-template>
                    </mat-step>
                </mat-stepper>
            </div>
            <div class="col-md-3" style="background-color: white;">
                <div class="row">
                    <div class="col-12" style="border: 1px solid lightgray;padding: 0;">
                        <div class="title"
                            style="background-color: lightslategray;color:white; width: 100%; padding:10px; font-size:18px; text-align: center;">
                            Order Summary</div>
                        <div class="summary p-3">
                            <p><b>{{tittle?tittle:'demo'}}</b></p>
                            <p>Parking Type: {{type?type[0]?.product:'demo'}}</p>
                            <p>Check-In : {{date.checkIn | date:'EEE, MMM d'}}- {{time.checkIn}}</p>
                            <p>Check-Out : {{date.checkOut | date:'EEE, MMM d'}} -{{time.checkOut}}</p>
                            <p class="d-flex flex-row justify-content-between align-content-center"><span> {{day}} Days
                                    Of
                                    Parking</span> <span data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    style="color:blue;cursor:pointer;">Edit</span></p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="price p-3">
                            <p class="d-flex flex-row justify-content-between align-content-center">
                                <span>Subtotal</span>
                                <span>{{icon}}{{day*type[0].dail_rate | number:'1.2-2'}}</span>
                            </p>
                            <p class="d-flex flex-row justify-content-between align-content-center"><span>Service
                                    Charge</span> <span>{{icon}}6.49</span></p>
                            <p class="d-flex flex-row justify-content-between align-content-center"><span>Taxes &
                                    Fees</span> <span>{{icon}}{{finaleTaxes | number:'1.2-2'}}</span></p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="totalPrice p-3">
                            <p class="d-flex flex-row justify-content-between align-content-center"><span>total</span>
                                <span>{{icon}}{{(day*type[0].dail_rate)+6.49+finaleTaxes | number:'1.2-2'}}</span>
                            </p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="payknow p-3">
                            <p class="d-flex flex-row justify-content-between align-content-center"><span>Pay Now</span>
                                <span>{{icon}}{{(day*type[0].dail_rate)+6.49+finaleTaxes | number:'1.2-2'}}</span>
                            </p>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Edit Parking Date & Time</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <mat-stepper orientation="vertical">
                        <mat-step>
                            <ng-template matStepLabel>Parking Date & Times <br> <span style="font-size:small">Select
                                    your
                                    parking check-In and
                                    check-Out Date & Time.</span></ng-template>
                            <ng-template matStepContent>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="toggleTimepicker">Check In Time</label>
                                        <div class="d-flex flex-row position-relative">
                                            <input class="input-" [ngxTimepicker]="toggleTimepicker"
                                                [disableClick]="true" readonly (click)="toggleTimepicker.open()"
                                                [format]="24" [(ngModel)]="editTime.checkIn">
                                            <ngx-material-timepicker-toggle [for]="toggleTimepicker" buttonAlign="left"
                                                class="position-absolute"
                                                style="top:7px;"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker #toggleTimepicker
                                                [format]="24"></ngx-material-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="toggleTimepicker1">Check Out Time</label>
                                        <div class="d-flex flex-row position-relative">
                                            <input class="input-" [ngxTimepicker]="toggleTimepicker1"
                                                [disableClick]="true" readonly (click)="toggleTimepicker1.open()"
                                                [format]="24" [(ngModel)]="editTime.checkOut">
                                            <ngx-material-timepicker-toggle [for]="toggleTimepicker1" buttonAlign="left"
                                                class="position-absolute"
                                                style="top:7px;"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker #toggleTimepicker1
                                                [format]="24"></ngx-material-timepicker>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <div class="row d-flex flex-row justify-content-between">
                                            <div class="col-md-6">
                                                <span>Check In Date</span>
                                                <input class="checkTime" type="text" #dp="bsDatepicker"
                                                    [minDate]="minCheckInDate" placeholder="Check-In" bsDatepicker
                                                    [ngModelOptions]="{ standalone: true }" [(ngModel)]="checkInTime"
                                                    [bsConfig]="{ adaptivePosition: true }"
                                                    (ngModelChange)="checkOutDate()">
                                                <!-- <input type="date" [min]="minCheckInDate" class="form-control"[ngModelOptions]="{ standalone: true }" [(ngModel)]="checkInTime"> -->
                                            </div>
                                            <div class="col-md-6">
                                                <span>Check Out Date</span>
                                                <input class="checkTime" type="text" #dp="bsDatepicker"
                                                    [minDate]="minCheckOutDate" placeholder="Check-Out" bsDatepicker
                                                    [bsConfig]="{ adaptivePosition: true }"
                                                    [ngModelOptions]="{ standalone: true }" [(ngModel)]="checkOutTime">
                                                <!-- <input type="date" [min]="minCheckOutDate" class="form-control" [(ngModel)]="checkOutTime"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 mt-3">
                                        <button class="btn btn-success" (click)="editTimes()">Save</button>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-step>
                    </mat-stepper>
                </div>
            </div>
        </div>
    </div>
</div>