.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.input- {
    border-color: rgb(0, 119, 255);
    background-color: #f8f8f8;
    color: #333;
    font-size: 14px;
    padding: 10px;
    padding-left: 30%;
    border-radius: 8px;
    border: 1px solid rgb(0, 119, 255);
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}


.checkTime {
    border-color: rgb(0, 119, 255);
    background-color: #f8f8f8;
    color: #333;
    font-size: 14px;
    padding: 10px;
    // padding-left: 30%;
    border-radius: 8px;
    border: 1px solid rgb(0, 119, 255);
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
    cursor: pointer;
}

.navbar {
    background-color: darkorange;
    color: white;
    max-width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

.h1 {
    color: rgb(0, 17, 255);
    cursor: pointer;
}